

@media only screen and (max-width: 1121px)  {
    body {
     

nav{
    gap: 6px;

}

nav button{
    font-size: 16px;
    width: 167px;
    height: 72px;

    gap: -6px;
    padding: 7px;
}
nav button img{
          
    width: 22px;
   




}
}
.search{

    gap: 4px;
  
}



.account{
    
    font-size: 7px;
    gap: 4px;

    flex-direction: column-reverse;
}
.account img{
    width: 49px;

}
.account h1{
    display: none;
}
.games, .apps{
  

    gap:0px;

}

  .accountname img{
    width: 51px;
clip-path: circle(40%);
}
.asideitems{
    font-size: 13px;
}
aside{
    opacity:0 ;
    width: 3vw;
    transition: width 500ms ease;
  
}



aside:hover{
    width: 50%;
    
 

    opacity:1;
    display: flex;
    
    


}
}
@media only screen and (max-width: 1453px)  {
    body {

nav{
    gap: 11px;
}




    }}
  
  @media only screen and (max-width: 673px)  {
    body {
        nav button{
          
            width: 151px;
            height: 39px;
            font-size: 10px;
            /*! gap: 16px; */
            
        
        }
        nav button img{
          
            width: 12px;
           
        
     
     
     
        }
        .logo h1{
 
       

            font-size: 34px;
 
         
          }
          .logo img{
 
       

            width: 39px;
 
         
          }
          .logo{
            gap: 10px;
          }
          .gametitle h1, .apptitle h1{


            font-size: 28px;
            border-radius: 10px;
            padding: 5px;
            width: 129px;
            height: 46px;
     
     
     
     
        }
        .search input{




            width: 120px;
            height: 26px;
        }
        .search button{
        
        
        
        
        
            width: 48px;
            height: 26px;
            font-size: 13px;
        }
    }
.headeritems{

    gap: 3px;
}

.downloads h4 {
  
    font-size: 19px;
}
.downloads h2 {
   
    font-size: 15px;
}


.review h2{
    font-size: 10px;
}
.games h1, .apps h1, .editorschoice h1, .awardwinning h1{

    font-size: 11px;
     
     
        }

        .games, .apps{
  
            gap: 6px;
            
        
        }
        
   

.asideimg img{
    width: 62px;
}

.asideitems{
    font-size: 8px;
}




aside{
opacity: 0;


    transition: width 500ms ease;
  
}



aside:hover{
    width: 40%;
    
 

    opacity:1;
    display: flex;
    
    


}
  }
